<nav style="background-color: #fecd1a; padding: 10px;">
    <ul style="list-style-type: none; margin: 0; padding: 0; overflow: hidden;">
        <li style="float: left; margin-right: 20px;">
            <%= link_to "Home", root_path, style: "text-decoration: none; color: black;" %>
        </li>
        <li style="float: left; margin-right: 20px;">
            <%= link_to "Menu", menu_path, style: "text-decoration: none; color: black;" %>
        </li>
        <li style="float: left;">
            <%= link_to "Order", order_path, style: "text-decoration: none; color: black;" %>
        </li>
    </ul>
</nav>

<h1>BobaShop#menu</h1>
<p>Find me in app/views/my_home_page/menu.html.erb</p>